.service-card{
    border: 1px solid white;
    background-color: white;
    padding: 30px 5px 15px 5px;
    border-radius: 70px 0 70px 0;
    transition: all linear .3s;
}

.service-card:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 30px lightgray;
}

#services{
    background-color: #fafffd;
    position: relative;
}

#services:before{
    width: 100%;
    height: 450px;
    content: " ";
    background-image: url(../../../resources/Illustration/Path\ 74.png);    
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}