
  .footer-logo{
    width: 130px;
}
.footer-media{
    width: 20px;
    margin-right: 18px;
}
/* .footer-media:hover{
    color: #0fcfec;
} */
.footer-item {
    color: black;
    text-decoration: none;
}
.footer-item:hover{
    text-decoration: none;
    color: #0fcfec;
}