.email-submit{
    height: 55px;
    background: white;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
.email-submit input{
    width: 80%;
    border: none;
    padding: 10px;
}
.email-submit button{
    height: 40px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #1ddab8, #0db9de);
    border: 2px solid #1ddab8;
    color: white;
    transition: all linear .3s;
}
.email-submit button:hover{  
  color: #0db9de;
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  border: 2px solid #1ddab8;
  transition: all linear .3s;
}

